@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body {
    /* background: #212529; */
    background: #1c1b1a;
    color: #FFFFFF;
}

/* Menu styling */
.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 30px;
}

.navButton {
    margin-top: 20px;
    background-color: #edd927;
    border-radius: 10px;
    padding: 5px 13px;
    margin-right: 100px;
    border: none;
}

.navButton>a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navButton>a:hover {
    color: black;
    font-weight: bolder;
}

.logo {
    width: 50%;
}

.logo-items {
    width: 100px;
    display: flex;
    font-size: 35px;
}

.color {
    color: #edd927;
}

/* section two with my paragraph and brief */
.quoteBrief {
    display: flex;
    padding-top: 80px;
    padding-left: 80px;
    color: white;
}

p>.fa-solid {
    color: #edd927;
    font-size: 50px;
}

.quote {
    padding-right: 30px;
    width: 45%;
    font-size: 33px;
}

.verticalLine {
    border-right: 2px solid #edd927;
    height: 350px;
}

.brief {
    width: 45%;
    font-size: 22px;
    text-align: center;
    margin-left: 20px;
}

.row {
    display: flex;
}

.column {
    padding-top: 20px;
    width: 100%;
    padding-left: 10px;
}

.column>img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.instructionButton {
    padding-left: 50px;
}

#clickFruit {
    padding: 5px 13px;
    background-color: #edd927;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

#clickFruit>a:hover {
    color: black;
    font-weight: bolder;
}

#section {
    background: url('../images/bb.jpeg');
    /* filter: blur(2px); */
    background-size: 500px;
    display: flex;
}
#headingFruit {
    display: none;
    text-align: center;
    margin-left: 400px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: lighter;
    border: 2px solid #edd927;
    width: 450px;
}

#myFruitsContainer {
    display: none;
    overflow-y: scroll;
    height: 432px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    width: 400px;
    border: 2px solid #edd927;
    background: #211f1e;
}

#formContainer {
    display: none;
    height: 200px;
    /* background: pink; */
    border: 2px solid #edd927;
    margin-left: 100px;
    margin-top: 150px;
    padding: 20px;
    background: #211f1e;
}

footer {
    bottom: 20px;
    /* position: fixed; */
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    border: 2px solid #edd927;
    background: #211f1e;
}

.footerDetails {
    display: flex;
    justify-content: center;
}

.footerPart,
.footerSocials {
    display: flex;
    margin-left: 70px;
}

i:hover {
    color: #edd927;
}

.icons>i {
    padding-left: 20px;
    font-size: 30px;
}

.innerIcons {
    padding-right: 10px;
    font-size: 30px;

}
/* Responsive ness */
@media screen and (max-width: 1250px) {
    .quoteBrief  {
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .quote{
       width: 100%;
       text-align: center;
    }
    .quizSection>.leftPic,
    .question_container {
        width: 100%;
    } }